
:root {
    --color1: #634F2C;
    --color2: #B4A385;
    --color3: #E4B564;/*border color*/
    --color4: #635A4A;
    --color5: #B08C4D;
    --color6: #171717;
    --color7: #ffffff;
}

.size1 {
    max-width: 1540px;
    margin: 0 auto;
    width: 100%;
    background: #373738;
}
.size2 {
    max-width: 1540px;
    margin: 0 auto;
    width: 100%;
    background: #0E0E0E;
}
.size-head {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    background: #373738;
    padding-bottom: 191px;
}

.size-footer {
    max-width: 1280px;
    padding-top: 172px;
    margin: 0 auto;
    width: 100%;
    background: #0E0E0E;
    padding-bottom: 191px;
}

.header,.footer {
    display: grid;
    grid-template-columns: repeat(2, 70% 30%);
}

.columns {
    align-self: center;
}
.columns span{
    color: #E4B564;
    font-family: 'Gilam';
    font-style: normal;
    font-size: 18px;
}

 .btn {
     border: 1px solid #E4B564;
     margin-left: 20px;
 }
.columns h3{text-align: right}
.columns a{
    text-decoration: none;
    align-items: center;
    color: #E4B564;
    padding: 5px 5px;
    font-style: normal;
    font-size: 18px;
}

.link--phone::before {
    content: "";
    display: inline-block;
    margin-right: 5px;
    width: 1em;
    height: 1em;
    background-image: url('../img/Vector.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 10px;
    color: #E4B564;
}

 h2{
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
     padding-bottom: 1%;
    color:white;
}
.head p{
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: white;

}
.container {
    padding-bottom: 10%;
}

.HeatingNetworks {
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 10px;
    text-align: center;
    height: 60vh;
}

.item{
    border: 1px solid #E4B564;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: white;
    box-sizing: border-box;
    background-color: var(--color1);
    padding: 100px 100px;
}
.HeatingNetworks :nth-child(1){
    grid-column: 1/3;
    background-color: var(--color1);
}
.HeatingNetworks :nth-child(2){
    grid-column: 3/5;
    background-color: var(--color2);
}
.HeatingNetworks :nth-child(3){
    grid-column: 5/7;
    background-color: var(--color3);
}
.HeatingNetworks :nth-child(4){
    grid-column: 1/4;
    background-color: var(--color4);
}
.HeatingNetworks :nth-child(5){
    grid-column: 4/7;
    background-color: var(--color5);
}

/*секция 2*/

.ConstrucEquipmentPark {
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(8,1fr);
    display: grid;
    grid-gap: 2vh;
    text-align: left;
    max-width: 1280px;
    height: 60vh;
}

.ConstrucEquipmentPark :nth-child(1){
    grid-column: 1/3;
    grid-row: 1/4;
    background-color: black;
    padding: 15px 40px;

}
.ConstrucEquipmentPark :nth-child(2){
    grid-column: 3/5;
    grid-row: 1/5;
    background-color: gray;
    padding: 15px 40px;
}
.ConstrucEquipmentPark :nth-child(3){
    grid-column: 5/7;
    grid-row: 1/3;
    background-color: #2e2b2b;
    padding: 15px 40px;
}
.ConstrucEquipmentPark :nth-child(4){
    grid-column: 1/3;
    grid-row: 4/9;
    background-color: gray;
    text-align: left;
    padding: 15px 40px;
}
.ConstrucEquipmentPark :nth-child(5){
    grid-column: 3/5;
    grid-row: 5/9;
    background-color: var(--color3);
    color: black;
    text-align: left;
    padding: 15px 40px;
    margin-bottom: 30px;
}
.ConstrucEquipmentPark :nth-child(6){
    grid-column: 5/7;
    grid-row: 3/6;
    background-color: black;
    padding: 15px 40px;
}
.ConstrucEquipmentPark :nth-child(7){
    grid-column: 5/7;
    grid-row: 6/9;
    background-color: black;
    padding: 15px 40px;
}


/*секция 3*/
.FooterLink {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    text-align: center;
    max-width: 1280px;
    height: 60vh;
}

.link {
    box-sizing: border-box;
    color: white;
    padding: 33%;
}

.FooterLink :nth-child(1){
    background-color: var(--color1);
}
.FooterLink :nth-child(2){
    background-color: var(--color2);
    padding: 40px;
}
.FooterLink :nth-child(3){
    background-color: var(--color3);
}
.FooterLink :nth-child(4){
    background-color: var(--color4);
}
.FooterLink :nth-child(5){
    background-color: var(--color1);
}
.FooterLink :nth-child(6){
    background-color: var(--color2);
}
